@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* layout */
  :root {
    --layout-max-w: 520px;
    --layout-min-h: 100dvh;
    --swiper-navigation-size: 44px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-color: white;
  }
  .layout {
    @apply max-w-[var(--layout-max-w)] min-h-[var(--layout-min-h)] w-full mx-auto px-4;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .responsive-iframe {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    /* 16:9 비율 */
  }

  .responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

::-webkit-scrollbar {
  /* 가로 스크롤바 보이지 않도록 */
  display: none;
}
